.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.vis {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10px);
}

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, .2);
  border-radius: 6px;
}

.alert {
  margin: 15px;
}