.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-self: center;
}

button {
  width: 20%;
  align-self: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-self: center;
}